# Python
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
.venv/
venv/
env/

# Django
db.sqlite3
*.log
media/
staticfiles/

# Variables de entorno
.env

# VS Code
.vscode/

# Windows
Thumbs.db

# macOS
.DS_Store